*{
	padding: 0;
	margin: 0;
}

.main{
	border: 1px solid;
	width: 1000px;
	height: 1500px;
	margin: auto;
}
.topbar{
	height: 50px;
	background: brown;
	line-height: 50px;
	color: white;
}
.space{
	width: 950px;
	margin:auto;
}
.phone{
	float: right;
}
.email{
	display: inline;
}
p{
	color: white;
}
*{
	padding: 0px;
	margin: 0px;
}
.header
{
	height: 110px;
	background: white;
	line-height: 110px;
	color: black;
	border-image: 30px;
}
.class{
display: inline;
height: 15px;
width: 15px;
}
.search{
  float: right;
  margin: auto;
}
.e{
	height: 100px;
	line-height: 50px;
	background: white;
	line-height: 100px;
	float: center;
	color: black;
	border-image: 30px;
}
.a{
			border: 1px solid;
			width: 320px;
			height: 650px;
			float: left;
			margin-left: 10px;
		}	
		.b{
		    border: 1px solid black;
			width: 350px;
			height: 140px;
			background-color: springgreen;
			text-align: center;
			float: left;
			margin-left: 300px;
			margin-top: 10px;
		}